<div class="container py-5">
    <section class="">
        <h2 class="text-center p-4">Últimos Cursos</h2>
    </section>
    <section class="row px-5">
        <div class="card-cursos col-12 col-sm-4">
            <div class="card">
                <img src="/assets/img/sprencia-curso-de-administracion-de-redes-sociales.jpg" class="card-img-top"
                    alt="Curso Administración de Redes Sociales">
                <div class="card-body">
                    <h5 class="card-title">Curso de Administración de Redes Sociales</h5>
                    <p class="card-text">En este curso aprenderás a manejar las principales redes sociales (Instagram,
                        Facebook, TikTok) y la forma de
                        promocionar de manera efectiva, tus productos o servicios.</p>
                    <a href="#" class="btn btn-primary">Ver Info</a>
                </div>
            </div>
        </div>
        <div class="card-cursos col-12 col-sm-4">
            <div class="card">
                <img src="/assets/img/sprencia-curso-de-desarrollo-web.jpg" class="card-img-top"
                    alt="Curso de Desarrollo Web Básico">
                <div class="card-body">
                    <h5 class="card-title">Curso de Desarrollo Web Básico en WordPress</h5>
                    <p class="card-text">Aprende a crear tu propio sitio web utilizando una de las herramientas más
                        populares en el mundo web y sin necesidad de conocimientos avanzados en programación.</p>
                    <a href="#" class="btn btn-primary">Ver Info</a>
                </div>
            </div>
        </div>
        <div class="card-cursos col-12 col-sm-4">
            <div class="card">
                <img src="/assets/img/curso-de-creacion-de-webinars.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Crea tu Propio Curso En Línea (Webinars)</h5>
                    <p class="card-text">Aprende a crear tus propios cursos, seminarios o charlas sobre tus habilidades
                        y experiencias aprendidas. Comparte tu conocimiento y genera dinero.</p>
                    <a href="#" class="btn btn-primary">Ver Info</a>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center my-4"><button class="btn btn-primary w-25">Ver todos</button></div>
</div>